@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --purple: #b386ff;
    --purple-seconday: #8e4dff;
    --dark-purple: #7b4ec7;
    --green: #12e02b;
    --dark-green: #0a6315;
    --red: #e01226;
    --dark-red: #6d0c15;
    --white: #f5f0ff;
    --gray: #c1bccb;
    --dark-gray: #716c7b;
    --purple-gray: #4f4566;
    --purple-dark-gray: #272135;
    --skeleton-loading-base: #efeafa;
    --skeleton-loading-highlight: #e7e1f6;
}

html,
body {
    font-family: "Inter", sans-serif;
    background-color: var(--white);
    color: var(--purple-gray);
}
